// header style starts

$text-color: #263057;

.navbar-nav {
  flex-direction: row;
  font-weight: 300;
}

#resume-btn {
  background-color: #7a5b99;
  color: white;
  font-weight: 300;
  border-radius: 300px;
  padding: 0.5em 1em;
  &:hover {
    background-color: $text-color;
  }
}

.navigation {
  color: $text-color;
  padding-top: 2vw;
}

.navbar-brand {
  font-weight: 600;
  color: $text-color;
}

.nav-link {
  margin-left: 2em;
  :hover {
    color: #263057;
  }
}

.nav {
  background-color: transparent;
}

/* header style end
	============================================================================================ */
