/* font family
	============================================================================================ */
$title-font: "Poppins", sans-serif;
$text-font: "Poppins", sans-serif;

/* color variables
	============================================================================================ */
$title-color: #191919;
$text-color: #191919;
$pink-color: #cf9591;
$taupe-color: #8a817c;
$primary-color: #b288c0;
$link-color: #b288c0;
$baby-blue: #77baee;

$white: #fff;
// $black: #222222;
// $soapstone : #fff9f7;

/* google fonts
	============================================================================================ */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
