/* font family
	============================================================================================ */
$title-font: "Poppins", sans-serif;
$text-font: "Poppins", sans-serif;

/* color variables
	============================================================================================ */
$title-color: #263057;
$text-color: #263057;
$primary-color: #7a5b99;
$link-color: #777777;

$white: #fff;
// $black: #222222;
// $soapstone : #fff9f7;

/* google fonts
	============================================================================================ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
